@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;600;700&display=swap');


html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgb(122, 122, 122) lightgray;
  background-color: #ffffff;

}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #545454;
}




@media only screen and (max-width: 800px) {

  ::-webkit-scrollbar{
    display: none;
  }

}

.App{
  margin-bottom: 5vh;
  color:  rgb(75, 75, 75) ;
  font-family: 'Baloo Thambi 2', cursive;
}

.App-Content {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
  font-size: calc(10px + 2vmin);
  color: white;
}


